.nav-link:hover {
    background-color: grey;
    color: white;
}

.nav-link{
    color: white;
}

.nav-link:hover .fa {
    transition: all 1s;
    transform: rotate(360deg);
}

.activo {
    background-color: grey !important
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.perfil {
    background-image: url("../img/cosmos-universo.gif");
    background-size: cover;
}

hr {
    color: white;
}

.color-izq {
    background-color: rgb(95, 95, 95);
}
